body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.editor {
    text-align: center;
}

/* Card */
#card {
    position: relative;
    width: 400px;
    min-height: 300px;
    background: linear-gradient(to bottom, #D9F4CD 0%, #99d380 70%, #acd06a 100%);
    border: 1px solid #c7e9b8;
    padding: 60px 20px 48px 20px; /* footer-এর জায়গা */
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    box-sizing: border-box;
    word-wrap: break-word;
}

/* Watermark */
#watermark {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    pointer-events: none;
}

/* Image */
#mainImage {
    width: 100%;
    margin: 6px 0;
}

#mainImage.placeholder {
    height: 240px;
    background: #f0f0f0;
    border: 1px dashed #bbb;
    border-radius: 8px;
}

/* Headline */
.headline {
    width: 100%;
    font-size: 22px;
    font-weight: bold;       /* সব text bold */
    text-align: center;
    min-height: 60px;
    line-height: 1.4;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: none;
    outline: none;
    background: transparent;
}
.headline:empty:before {
    content: attr(data-placeholder);
    color: #999;
}

/* Footer fixed */
.footer {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    background: #559601;
    color: #fff;
    font-size: 12px;
    padding: 6px  15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    
}
.footer::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 100%;
    background: #c4161c;
}

/* Footer contenteditable wrap fix */
.footer span[contenteditable="true"] {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    
}

/* Buttons */
.buttons button {
    margin-top: 10px;
    padding: 10px 20px;
}
